body{font-family: Arial,Helvatica,sans-serif;
	font-size: 15px;
	line-height:1.5;
	padding:0;
	margin:0;
	background-color: #f4f4f4;
}
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
header{
	background-color: #35424a;
	color:#f4f4f4;
	padding-top:10px;
	min-height:50px;
	border-bottom:rgb(181, 71, 255) 3px solid;
}
.options > .container > div{
  padding: 10px;
  display: flex;
  justify-content: center;
}
.options{
  border: 1.6em rgb(181, 71, 255) solid;
  padding-top: 100px;
  padding-bottom: 100px; 
}
button{
  border: 0;
  color: #f4f4f4;
  background-color: rgb(181, 71, 255);
  width: 200px;
  padding: 20px;
  border-radius: 6px;
}
 a{
	color:#f4f4f4;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
footer{
	color: #f4f4f4;
	background-color:#35424a;
	padding: 20px;
  text-align: center;
  border-top:rgb(181, 71, 255) 3px solid;
}